*.a
aclocal.m4
autom4te.cache
build-aux
config.status
configure
.deps
*.la
.libs
libtool
*.lo
*.lo
*.log
Makefile.in
*.o
*.o
*.swp
*.tar.gz
tags
.DS_Store
Makefile
.project
.cproject
TESTDATA
*.trs
submit_to_coverity
cov-int
vcmtp.tgz
